{% extends "tzapp/base.html" %} 
{% block content %}


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for posts in post %}
            <div class="post-preview">
                <a href="{% url 'post_detail' posts.slug  %}">
                    <h2 class="post-title">{{ posts.title }}</h2>
                    <h3 class="post-subtitle">{{posts.subheading|slice:":100"|safe }}</h3>
                </a>
                <p class="post-meta">{{ posts.author }} | {{ posts.created_on}}</p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}