{% extends "tzapp/base.html" %} 
{% block content %}


<!-- Page Header-->
<header class="masthead">
  <div class="container h-100">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="text-white font-weight-bold">{% block title %} {{ object.title }} {% endblock title %}</h1>
                    <span class="subheading">{{ object.author }} | {{ object.created_on }}</span>
                </div>
            </div>
        </div>
    </div>
  </div>
</header> 

<div class="container pt-5" >
  <div class="row">
    <div class="col card mb-4  mt-3 left  top">
      <div class="card-body">
        <p></p>
        <p >{{ object.content|safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}